[submodule "extern/nanobind"]
	path = extern/nanobind
	url = https://github.com/wjakob/nanobind
[submodule "third_party/hnswlib"]
	path = third_party/hnswlib
	url = https://github.com/nmslib/hnswlib.git
